<ion-content padding>
  
  <form class="admin-form ion-padding" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <ion-row>
      <ion-col size-md="12" size="12">
        <ion-item>
          <ion-label position="stacked">{{'Title' | translate}}
            <span  class="red_star" >*</span>
          </ion-label>

          <ion-input type="text" formControlName="name" [ngClass]="{'is-invalid': submitted && myForm.controls.name.errors }"></ion-input>
          <div *ngIf="submitted && myForm.controls.name.errors" class="invalid-feedback">
            <div *ngIf="myForm.controls.name.errors.required"> Title is required</div>
          </div>
        </ion-item>
      </ion-col>
        <ion-col size-md="12" size="12">
          <ion-item>
            <ion-label position="stacked">{{'date' | translate}} </ion-label>
            <ion-datetime displayFormat="DD-MM-YYYY" formControlName="newsDate" pickerFormat="DD-MM-YYYY" ></ion-datetime>
  
           
          </ion-item>
          </ion-col>
        
          <ion-col size-md="12" size="12">
            <ion-item class="status_item">
              <ion-label  >{{'status' | translate}} 
                <span  class="red_star" >*</span>
              </ion-label>
    
              <ion-checkbox color="secondary" id="options" name='options' slot="end" class="form-control" formControlName="options"  ></ion-checkbox>
    
            </ion-item>
          </ion-col>
               
 
      <ion-col size="12">
    
        <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader"
          class="drop-zone">
          <p>{{'addImg' | translate}}</p>
          <span class="or">{{'OR' | translate}}</span>
          <div class="file-input-container">
            <label>
              <input type="file" name="attachment[]" ng2FileSelect [uploader]="uploader" />
              <ion-icon name="add" color="light"></ion-icon>
            </label>
          </div>
        </div>

      </ion-col>
      <ion-col size="12">
        <h2>{{'Files' | translate}}: {{ uploader?.queue?.length }}</h2>
        <ion-list>
          <ion-reorder-group (ionItemReorder)="reorderFiles($event)" disabled="true">
            <ion-item *ngFor="let item of myFiles;let i=index">
              <ion-label>
                <ion-grid no-padding class="darg_drop_list">
                  <ion-row>
                    <ion-col size="6" size-md="4">
                      <p class="img_path"><img src="{{imgUrl}}{{ item }}" width="100"></p>
                    </ion-col>
                    
                    <ion-col size="2" size-md="1">
                      <ion-button type="button" (click)="removeFile(i,$event)" color="primary">x</ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-label>
              <ion-reorder slot="end"></ion-reorder>
            </ion-item>
          </ion-reorder-group>



          <ion-reorder-group (ionItemReorder)="reorderFiles($event)" disabled="true">
            <ion-item *ngFor="let item of filesAttach">
              <ion-label>
                <ion-grid no-padding class="darg_drop_list">
                  <ion-row>
                    <ion-col size="3" size-md="4">
                      <p class="img_path"><img src="{{imgUrl}}{{item?.lessonAttachFile}}" width="50"/></p>
                    </ion-col>
                    <ion-col size="3" size-md="5">
                      <ion-item >
                        <ion-input type="text"></ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col size="2" size-md="1">
                      <ion-item class="checkbox_item">
                        <ion-checkbox color="secondary" [checked]="item.lessonAttachCopy==1" (ionChange)="updateAttach('copy',index,$event)"></ion-checkbox>
                      </ion-item>
                    </ion-col>
                    <ion-col size="2" size-md="1">
                      <ion-item class="checkbox_item">
                        <ion-checkbox  color="secondary" formControlName="down" name="down" #down [checked]="item.lessonAttachDownload==1" (ionChange)="updateAttach('down',index,$event)"></ion-checkbox>
                      </ion-item>
                    </ion-col>
                    <ion-col size="2" size-md="1">

                      <ion-button type="button"   (click)="item.remove()"  color="primary" >x</ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-label>
              <ion-reorder slot="end"></ion-reorder>
            </ion-item>
          </ion-reorder-group>


        </ion-list>

  </ion-col>
      <ion-col size="12">
        <quill-editor  class="form-control"
        formControlName="detail"
        [modules]="editorOptions"

        > </quill-editor>
      </ion-col>

  
          
       
      <ion-col size="12">

      
        <ion-button class="submit-btn " *ngIf="!id" type="submit" [disabled]="!myForm.valid" shape="round">{{'submit' | translate}}</ion-button>
        <ion-button class="submit-btn " *ngIf="!id" type="submit" (click)="showGrid=1" [disabled]="!myForm.valid" shape="round">{{'submitG' | translate}}</ion-button>
        <ion-button class="submit-btn " *ngIf="id" (click)="onSubmit()" [disabled]="!myForm.valid" shape="round">{{'submit' | translate}}</ion-button>
        <ion-button class="submit-btn " *ngIf="id" (click)="showGrid=1;onSubmit()" [disabled]="!myForm.valid" shape="round">{{'submitG' | translate}}</ion-button>


      </ion-col>
    </ion-row>

  </form>

  <!-- back button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="global.backToGrid('News')">
      <ion-icon color="light" name="ios-arrow-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>