<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)=" close()">
        <ion-icon name="arrow-back" slot="icon-only" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <form class="login-form">
      <p class="bold_text">{{'reset_password' | translate}}</p>
      <p class="normal_text">{{'please_enter_email' | translate}}</p>
      <p class="normal_text">{{'registered_with_us' | translate}}</p>
      <ion-list>
        <ion-item>
            <ion-icon name="mail" slot="start"></ion-icon>                        
            <ion-input    placeholder="{{'email' | translate}} " ></ion-input> 
        </ion-item>
      </ion-list>
      <ion-button     shape="round" fill="solid"  color="secondary" > {{'send' | translate}}  </ion-button>
    </form>
  </div>

</ion-content>