<ion-content>
    <!-- <ion-button expend="block" color="light" (click)="change()">change Color</ion-button> -->
    <div class="container"> 
            <ion-icon class="top-cir" src="./assets/imgs/1.svg"></ion-icon>
            <ion-icon  class="bottom-cir" src="./assets/imgs/2.svg"></ion-icon>
            <ion-row class="login-content">
                <ion-col class="welcome-text" size-md="4" size="12" text-center>
                    <div>
                        <img src="./assets/imgs/logo.png">
                        <h3>{{ "welcome" | translate }}</h3>
                        <p *ngIf="global.lang=='En'">is simply dummy text of the printing and typesetting industry.</p>
                        <p *ngIf="global.lang=='Ar'">خير الكلام هو ما قلّ ودلّ وعبّر وأعطانا معنىّ جميلاً ومفيداً.</p>
                    </div>  
                </ion-col>
                <ion-col class="login-form" size-md="8" size="12">
                    <ion-button class="lang_btn" fill="solid" color="primary" (click)="global.change_lang('En')" *ngIf="global.lang=='ar'">En</ion-button>
                    <ion-button class="lang_btn" fill="solid" color="primary" (click)="global.change_lang('Ar')" *ngIf="global.lang=='en'">ع</ion-button>
                    <h3>{{ "login" | translate }}</h3> 
                    <!-- <ion-item class="select-lng" lines="none">
                        <ion-select interface="popover" [(ngModel)]="global.lang" 
                        (ionChange)="global.changeLanguage()">
                            <ion-select-option value="en">EN</ion-select-option>
                            <ion-select-option value="ar">AR</ion-select-option>
                        </ion-select>
                    </ion-item> -->
                    
                    <form [formGroup]="myForm">
                        <ion-list>
                            <ion-item>
                                <ion-icon name="person" slot="start"></ion-icon>                        
                                <ion-input  formControlName="name" placeholder='{{ "username" | translate }}' ></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-icon name="lock" slot="start"></ion-icon>                        
                                <ion-input type="password" formControlName="pass" placeholder='{{ "password" | translate }}' ></ion-input>
                            </ion-item>
                        </ion-list>    
        
                        <ion-row class="forgot-psw">
                            <ion-col>
                                <ion-item lines="none">
                                    <ion-label>{{ "remember_me" | translate }}</ion-label>
                                    <ion-checkbox color="secondary" slot="start"></ion-checkbox>
                                </ion-item>
                            </ion-col>
                            <ion-col>
                                <ion-button color="secondary" fill="clear" size="small" (click)="forgot_password()">
                                    {{ "forgot_password" | translate }}
                                </ion-button>
                            </ion-col>
                        </ion-row>
                        <div class="ion-text-center">
                            <ion-button (click)="loginAdmin()" class="login-btn"  color="secondary" shape="round">{{ "sign_in" | translate }}</ion-button>
                            <p class="powered-by">{{ "powered_by" | translate }} <span>Hybapps - v1</span></p>
                        </div>
                    </form>
                </ion-col>
            </ion-row>
    </div>
    
</ion-content>
