ion-content{
    --background:var(--ion-color-primary); 
    .top-cir{
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .bottom-cir{
        position: absolute;
        top: 0;
        right: 0;
    }
    .container{
        min-height:100%;
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    form{
        ion-list{
            background:none;
            padding-bottom:0px;
             ion-item{
                 margin-bottom:10px;
             }
        }
    }
    .login-content{
        // @media (min-width: 776px) {
        //     position: absolute;
        //     max-height:400px;             
        //     left: 0;
        //     right: 0;
        //     top: 0;
        //     bottom: 0;
        //     margin:auto;
        // }
        border-radius: 10px;
        // width: 800px;
        max-width: 90%;
        overflow: hidden;
        box-shadow:0 15px 32px 0 rgba(0,0,0,.2); 
        // margin:30px auto;
        ion-col{
            padding: 10px;
        }
        h3{
            font-size:1.3rem;
            // font-family: 'SaNazeguln';
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.6rem;
            margin:0px; 
            // color: #fff
        }
        .select-lng{
            position: absolute;
            top: 15px;
            right: 15px;
            ion-select{
                font-family: 'SaNazeguln';
                max-width: 100%;
                color: var(--ion-color-primary);  
            }
        }
        .welcome-text{
            background:var(--ion-color-primary-tint);
            div{
                height: 100%;
                padding: calc(var(--ion-padding)*2); 
                position: relative;
                color: #fff;
                z-index: 10;    
                display: flex;
                flex-direction: column;
                justify-content: center;     
                img{
                    width: 158px;
                    margin: 0 auto;
                    margin-bottom: 50px;
                }
                p{
                    font-size:1.2rem;
                    line-height: 1.5rem;
                    margin: 0;
                }
            }
            
        }

      
        .login-btn{
            width: 180px;
        }
        .powered-by{
            color: var(--ion-color-secondary); 
            margin-top: 15px !important; 
            font-family: 'SaNazeguln';
            span{
                color: var(--ion-color-primary);   
            }
        }
    }
}
