// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application. 
//menu style
ion-split-pane >.split-pane-side {
    min-width: var(--menu-width) !important;
    max-width: var(--menu-width) !important;
    border: none !important;
}
// .split-pane{
//     flex-direction: row-reverse;
// }
ion-split-pane{
    &.split-pane-visible{
      flex-direction: row-reverse!important; 
    }
  }
ion-menu {
    // --ion-text-color: var(--ion-color-primary-contrast);    
    // --ion-background-color:var(--ion-color-primary); 
    --width: var(--menu-width) !important;
    // @media (min-width: 776px) {
    //     --ion-background-color:transparent;     
    // }
    ion-header{
        ion-toolbar {
            --background: transparent;
            // font-family: 'SaNazeguln';
            ion-title{
                font-size:1.5rem;
            }
        }
    }
    ion-content{
        --background: var(--ion-color-light-shade); 
        // background-image: url(../assets/imgs/menu-bg.png);
        ion-list {
            background: none!important;
            padding: 0 !important;
            ion-item{
                --background:transparent;	
                font-size:1.3rem; 
                outline:none!important;               
                &.active-item{
                    background: rgba(var(--ion-color-light-rgb),1); 
                    ion-icon{
                        --ion-color-base:var(--ion-color-primary)!important;
                    }
                    ion-label{
                        color:var(--ion-color-primary)!important;
                    }
                }
                ion-icon{
                    font-size: 1.8rem;
                }
            }
            .sub-list{ 
                p{
                    padding-inline-start:65px;
                    outline:none;
                    border-top:1px solid var(--ion-color-dark);
                    margin:0px;
                    height:45px;
                    line-height:45px;
                    background:rgba(var(--ion-color-light-rgb),.5);
                    font-size:1.2rem;
                    cursor: pointer;
                    &:first-of-type{
                        border-bottom:0px;
                    }
                    &.active{
                        // background: rgba(var(--ion-color-light-rgb),.45); 
                        color: var(--ion-color-primary);
                        // background: rgba(var(--ion-color-light-rgb),.45); 
                    }
                }
            }
        }
    }
}
