<ion-content>
    <ion-list (click)="dismiss()">
        <ion-item  [routerLink]="['/profile']"  routerDirection="root">
            <ion-label>{{'my_profile' | translate}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>{{'my_inbox'|translate}}</ion-label>
        </ion-item>
        <ion-item >  
            <ion-label>{{'settings' | translate}}</ion-label>
        </ion-item>
        <ion-item   (click)="logOut()" >
            <ion-label>{{'logout' | translate}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
