<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon name="notifications" slot="start"></ion-icon>
      <ion-label>
        <h5>New Order Received</h5>
        <p>Lorem ipsum dolor sit ametitaque in, et!</p>
      </ion-label>
    </ion-item> 
    <ion-item>
      <ion-icon name="notifications" slot="start"></ion-icon>
      <ion-label>
        <h5>New Order Received</h5>
        <p>Lorem ipsum dolor sit ametitaque in, et!</p>
      </ion-label>
    </ion-item> 
    <ion-item>
      <ion-icon name="notifications" slot="start"></ion-icon>
      <ion-label>
        <h5>New Order Received</h5>
        <p>Lorem ipsum dolor sit ametitaque in, et!</p>
      </ion-label>
    </ion-item> 
    <ion-item>
      <ion-icon name="notifications" slot="start"></ion-icon>
      <ion-label>
        <h5>New Order Received</h5>
        <p>Lorem ipsum dolor sit ametitaque in, et!</p>
      </ion-label>
    </ion-item> 
  </ion-list>
</ion-content>
