<ion-header> 
  <ion-toolbar class="ion-no-padding home_top_form" >
    <form class="top_form" >
      <ion-row>
        <ion-col size="4"> 
          <ion-item> 
            <ion-input type="text" placeholder="text"  ></ion-input> 
          </ion-item> 
        </ion-col>
        <ion-col size="4"> 
          <ion-item> 
            <ion-input type="text" placeholder="text"  ></ion-input> 
          </ion-item> 
        </ion-col>
        <ion-col size="4">
          <ion-button color="primary">حفظ</ion-button>
        </ion-col>
      </ion-row>
    </form>
    <ion-row class="search-filter">
      <ion-col size-md="3" size="3">
        <ion-searchbar placeholder="{{'search' | translate}}" [(ngModel)]="search.q" (keyup)="searchGrid($event)"></ion-searchbar>
      </ion-col>
      <ion-col offset-md="2" size-md="3" size="4">
        <ion-item lines="none">
          <ion-label>{{'Sort' | translate}}</ion-label>
          <ion-select #sortselect placeholder="{{'select' | translate}}" [(ngModel)]="sort.q" okText="{{'ok' | translate}}" cancelText="{{'cancel' | translate}}"
            (ionChange)="sortItem()">
            <ion-select-option value="{{item.name_indb}}" ngValue="item.name_indb" *ngFor="let item of GridCols | filterBy: {sortItem:1}">{{item.name| translate}}</ion-select-option>
            <!--       <ion-select-option value="f">Female</ion-select-option>
            <ion-select-option value="m">Male</ion-select-option> -->
          </ion-select>
        </ion-item>
      </ion-col>
      <!--   <ion-col size-md="3" size="4">
        <ion-item lines="none">
          <ion-label>{{'gender' | translate}}</ion-label>
          <ion-select placeholder="{{'select' | translate}}" okText="{{'ok' | translate}}" cancelText="{{'cancel' | translate}}">
            <ion-select-option value="f">Female</ion-select-option>
            <ion-select-option value="m">Male</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col> -->
      <ion-col size-md="1" size="1" class="page-num text-center">
        <span>{{'page' | translate}}: {{crud.currentPage}}/{{crud.allpages}}</span>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid class="main-grid">
    <ion-row class="table-header" text-center>
      <ion-col *ngFor="let item of GridCols">
        <h3>{{item.name | translate}}</h3>
      </ion-col>
      <!--    <ion-col>
          <h3>{{'status' | translate}}</h3>
        </ion-col> -->

      <!--    <ion-col>
        <h3>{{'product' | translate}}</h3>
      </ion-col>
      <ion-col>
        <h3>{{'quantity' | translate}}</h3>
      </ion-col>
      <ion-col>
        <h3>{{'status' | translate}}</h3>
      </ion-col>
      <ion-col>
        <h3>{{'amount' | translate}}</h3>
      </ion-col>  -->
      <ion-col>
        <h3>{{'action' | translate}}</h3>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of crud.listData" text-center>

      <ion-col>
        <p>{{item['govName' + global.lang]}}</p>
      </ion-col>
      <ion-col>
        <ion-icon *ngIf="item.govActive==1" name="md-checkmark-circle" color="success" class="active_case"></ion-icon>
        <ion-icon *ngIf="item.govActive==0" name="md-close-circle" color="danger" class="inactive_case"></ion-icon>
        <!-- <p  >{{'active' | translate}}</p>
          <p >{{'inactive' | translate}}</p> -->
      </ion-col>

      <ion-col>
        <ion-button (click)="actionList($event,item)" class="ion-no-margin" fill="clear" size="small">
          <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <!-- <ion-row *ngFor="let item of list" text-center>
      <ion-col>
        <img src="./assets/imgs/img.png">
      </ion-col>
      <ion-col>
        <p>Ferrero Rocher</p>
      </ion-col>
      <ion-col>
        <p>1</p>
      </ion-col>
      <ion-col>
        <p>{{'active' | translate}}</p>
      </ion-col>
      <ion-col>
        <p>$19.94</p>
      </ion-col>
      <ion-col>
        <ion-button (click)="actionList($event)" class="ion-no-margin" fill="clear" size="small">
          <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row> -->
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" routerLink="/form">
      <ion-icon color="light" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- fab placed to the (vertical) center and end -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="crud.allpages  != 1">
    <ion-fab-button (click)="doInfinite()" size="small">
      <ion-icon name="ios-arrow-down"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>