<!-- <ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-searchbar class="admin-search"  placeholder="{{'search' | translate}}"></ion-searchbar>
        <ion-buttons slot="end">
          <ion-button (click)="global.languagePopover($event)">
               <fa-icon [icon]="['far', 'flag']"></fa-icon>
          </ion-button> 
          <ion-button (click)="global.notificationPopover($event)">
              <fa-icon [icon]="['far', 'bell']"></fa-icon>
          </ion-button>
          <ion-button (click)="global.listPopover($event)">
              <fa-icon [icon]="['far', 'user']"></fa-icon>
          </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-icon [name]="item.icon" slot="start"></ion-icon>
      {{item['title_' + global.lang]}}
      <div class="item-note" slot="end"> 
        {{item['note_' + global.lang]}}
      </div>
    </ion-item>
  </ion-list>

  <ion-list>
  <ion-item *ngFor="let item of crud.listData">
      <!--   <ion-icon [name]="item.icon" slot="start"></ion-icon> -->
        {{item['govName' + global.lang]}}
        <div class="item-note" slot="end"> 
          {{item['govName' + global.lang]}}
        </div>
      </ion-item>
    </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
