<ion-content padding>
  <h3>{{title | translate}}</h3>
  <form class="admin-form ion-padding" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <ion-row>
      <ion-col size-md="6" size="12">
        <ion-item>
          <ion-label position="stacked">{{'name' | translate}}
            <span>*</span>
          </ion-label>

          <ion-input type="text" formControlName="name" [ngClass]="{'is-invalid': submitted && myForm.controls.name.errors }"></ion-input>
          <div *ngIf="submitted && myForm.controls.name.errors" class="invalid-feedback">
            <div *ngIf="myForm.controls.name.errors.required"> Name is required</div>
          </div>
        </ion-item>
      </ion-col>

      <ion-col size-md="6" size="12">
        <ion-item>
          <ion-label position="stacked">{{'stages' | translate}}</ion-label>
          <ion-select formControlName="stage" placeholder="{{'select' | translate}}" okText="{{'ok' | translate}}" cancelText="{{'cancel' | translate}}"  (ionChange)="changeGrade($event)">
            <ion-select-option value="{{item.stageId}}" *ngFor="let item of stageArr ">{{item.stageName}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size-md="6" size="12">
        <ion-item> 
          <ion-label position="stacked">{{'grades' | translate}}</ion-label>
          <ion-select formControlName="grade" placeholder="{{'select' | translate}}" okText="{{'ok' | translate}}" cancelText="{{'cancel' | translate}}">
            <ion-select-option value="{{item.gradeId}}" *ngFor="let item of grades ">{{item.gradeNameAr}}</ion-select-option>
            <!--   <ion-select-option value="m">Male</ion-select-option> -->
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size-md="6" size="12">
        <ion-item>
          <ion-label position="stacked">{{'type' | translate}}</ion-label>
          <ion-select formControlName="type" placeholder="{{'select' | translate}}" okText="{{'ok' | translate}}" cancelText="{{'cancel' | translate}}">
            <ion-select-option value="all">{{'all' | translate}}</ion-select-option>
            <ion-select-option value="arabic public">{{'arabicPublic' | translate}}</ion-select-option>
            <ion-select-option value="arabic private">{{'arabicPrivate' | translate}}</ion-select-option>
            <ion-select-option value="language public">{{'langPublic' | translate}}</ion-select-option>
            <ion-select-option value="language private">{{'langPrivate' | translate}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size-md="6" size="12">
        <ion-item>
          <ion-label position="stacked">{{'monthlyFees' | translate}}
            <span>*</span>
          </ion-label>

          <ion-input type="text" formControlName="monthly"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size-md="6" size="12">
        <ion-item>
          <ion-label position="stacked">{{'semistarFees' | translate}}
            <span>*</span>
          </ion-label>

          <ion-input type="text" formControlName="semistar"></ion-input>
        </ion-item>
      </ion-col>
      
        <ion-col size="12">
  
          <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader"
            class="drop-zone">
            <p>أضف الصورة هنا ....</p>
            <span class="or">أو</span>
            <div class="file-input-container">
              <label>
                <input type="file" name="attachment[]" ng2FileSelect [uploader]="uploader" accept=".jpg,.jpeg,.png" />
                <ion-icon name="add" color="light"></ion-icon>
              </label>
            </div>
          </div>
  
        </ion-col>
        <ion-col size="12">
          <p class="img_path" *ngIf="myFile!=''"><img src="{{imgUrl}}{{myFile}}" width="200" /></p>
        </ion-col>
  
           
       
      <ion-col size="12">
        <ion-button class="submit-btn ion-float-right" *ngIf="!id" type="submit" [disabled]="!myForm.valid" shape="round">{{'submit' | translate}}</ion-button>
        <ion-button class="submit-btn ion-float-right" *ngIf="!id" type="submit" (click)="showGrid=1" [disabled]="!myForm.valid"
          shape="round">{{'submitG' | translate}}</ion-button>
        <ion-button class="submit-btn ion-float-right" *ngIf="id" (click)="onSubmit()" [disabled]="!myForm.valid" shape="round">{{'submit' | translate}}</ion-button>
        <ion-button class="submit-btn ion-float-right" *ngIf="id" (click)="showGrid=1;onSubmit()" [disabled]="!myForm.valid" shape="round">{{'submitG' | translate}}</ion-button>
      </ion-col>
    </ion-row>
  </form>

  <!-- back button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="global.backToGrid('Subjects')">
      <ion-icon color="light" name="ios-arrow-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>